{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1000px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Books</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Time</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.descriprion }}</td>
                    <td>{{ book.image }}</td>
                    <td>{{ book.time }}</td>
                    {% for author in book.authors %}
                        <td>{{ author.firstName }} {{ author.lastName }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
